:root {
    --ndd-frete-primary-color: #E24B00;
    --ndd-frete-secondary-color: #292929;
    --ndd-frete-third-color: #F5F5F5;
    --ndd-frete-link-color: rgba(0,0,0,0.2);
    --ndd-frete-link-hover-color: rgba(0,0,0,0.4);
    --ndd-frete-link-highlight-color: var(--ndd-frete-primary-color);
    --ndd-frete-link-highlight-hover-color: #CC4400;
  }
  
  /* --- LINKS --- */
  li.render-links--link {
    background-color: var(--ndd-frete-link-color);
  }
  
  li.render-links--link:hover {
    background-color: var(--ndd-frete-link-hover-color);
    -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  /* --- LINK DESTACADO --- 
    li.render-links--link:nth-child(4) {
      background-color: var(--ndd-frete-link-highlight-color);
    }
    li.render-links--link:nth-child(4):hover {
      background-color: var(--ndd-frete-link-highlight-hover-color);
      -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }*/
  
  /* ---------------------- HEADER ---------------------- */
  
  /* ---------------------- TILES ---------------------- */
  
    /* --- TILES HELP CATEGORY --- */
    
    /* @media (min-width: 768px) {
      ul[aria-labelledby="Precisodeajuda"] > li.tile {
        grid-column: span 3 / span 3;
      }
    } */
    
    ul[aria-labelledby="Precisodeajuda"] > li {
      align-items: center;
      color: var(--ndd-text-color);
    }
    
    ul[aria-labelledby="Precisodeajuda"] h3.tile__headline {
      color: var(--ndd-text-color);
    }
    
    /* --- TILES HELP CATEGORY --- */
  
  /* ---------------------- TILES ---------------------- */
  
  /* ---------------------- CONTENT ---------------------- */
  
  /*strong > span[data-colorid] {
      color: var(--ndd-frete-primary-color);
    }*/
  
  /* ---------------------- CONTENT ---------------------- */
  