:root {
    --ndd-move-primary-color: #00B34D;
    --ndd-move-secondary-color: #292929;
    --ndd-move-third-color: #E5F7ED;
  }
  
  /* --- LINKS --- */
  li.render-links--link {
    background-color: var(--ndd-dark-color);
  }
  
  li.render-links--link:hover {
    background-color: var(--ndd-dark-hover-color);
    -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  /* --- LINK DESTACADO --- 
  li.render-links--link:nth-child(4) {
    background-color: var(--ndd-kubo-primary-color);
  }
  li.render-links--link:nth-child(4):hover {
    background-color: var(--ndd-kubo-link-hover-color);
    -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }*/

  
  /* ---------------------- HEADER ---------------------- */
  
  /* ---------------------- TILES ---------------------- */

  /* --- TILES HELP CATEGORY --- */
  
  @media (min-width: 768px) {
    ul[aria-labelledby="Precisodeajuda"] > li.tile {
      grid-column: span 3 / span 3;
    }
  }
  
  ul[aria-labelledby="Precisodeajuda"] > li {
    align-items: center;
    color: var(--ndd-text-color);
  }
  
  ul[aria-labelledby="Precisodeajuda"] h3.tile__headline {
    color: var(--ndd-text-color);
  }
  
  /* --- TILES HELP CATEGORY --- */

  
  /* ---------------------- TILES ---------------------- */
  
  /* ---------------------- CONTENT ---------------------- */
  
  /* strong > span[data-colorid] {
    color: var(--ndd-move-secondary-color);
  } */
  
  /* ---------------------- CONTENT ---------------------- */