:root {
  --ndd-orbix-primary-color: #9622b2;
  --ndd-orbix-secondary-color: #272d3d;
  --ndd-orbix-third-color: #f2e4f5;
  --ndd-orbix-link-color: rgba(0,0,0,0.2);
  --ndd-orbix-link-hover-color: rgba(0,0,0,0.4);
  --ndd-orbix-link-highlight-color: var(--ndd-orbix-primary-color);
  --ndd-orbix-link-highlight-hover-color: #871FA1;
}

/* --- LINKS --- */
li.render-links--link {
  background-color: var(--ndd-orbix-link-color);
}

li.render-links--link:hover {
  background-color: var(--ndd-orbix-link-hover-color);
  -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* --- LINK DESTACADO --- */
li.render-links--link:nth-child(4) {
  background-color: var(--ndd-orbix-link-highlight-color);
}
li.render-links--link:nth-child(4):hover {
  background-color: var(--ndd-orbix-link-highlight-hover-color);
  -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* ---------------------- HEADER ---------------------- */

/* ---------------------- TILES ---------------------- */

/* --- TILES HELP CATEGORY --- */
  
@media (min-width: 768px) {
  ul[aria-labelledby="Precisodeajuda"] > li.tile {
    grid-column: span 3 / span 3;
  }
}

ul[aria-labelledby="Precisodeajuda"] > li {
  align-items: center;
  color: var(--ndd-text-color);
}

ul[aria-labelledby="Precisodeajuda"] h3.tile__headline {
  color: var(--ndd-text-color);
}

/* --- TILES HELP CATEGORY --- */

/* --- TILES MODULES CATEGORY --- */
  
@media (min-width: 768px) {
  ul[aria-labelledby="Módulos"] > li.tile {
    grid-column: span 3 / span 3;
  }
}

ul[aria-labelledby="Módulos"] > li {
  align-items: center;
  color: var(--ndd-text-color);
}

/*ul[aria-labelledby="Módulos"] h3.tile__headline {
  color: var(--ndd-text-color);
}*/

/* --- TILES HELP CATEGORY --- */

/* --- TILES SECURITY CATEGORY --- */
/*@media (min-width: 768px) {
  ul[aria-labelledby="Segurançaecompliance"] > li.tile {
    grid-column: span 3;
  }
}*/

ul[aria-labelledby="Segurançaecompliance"] > li {
  align-items: center;
  color: var(--ndd-text-color);
}

ul[aria-labelledby="Segurançaecompliance"] h3.tile__headline {
  color: var(--ndd-text-color);
}

/* --- TILES SECURITY CATEGORY --- */

/* ---------------------- TILES ---------------------- */

/* ---------------------- CONTENT ---------------------- */

strong > span[data-colorid] {
  color: var(--ndd-orbix-primary-color);
}

/* ---------------------- CONTENT ---------------------- */
